<!--

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<section class="h-100 gradient-form" style="background-color: burlywood;"  style="color: khaki">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">

                                    <h4 class="mt-1 mb-5 pb-1">Dobrodošli na  TM photo!</h4>
                                </div>

                                <form th:action="@{/login}" method="post">
                                    <p>Ovdje se logujte na svoj nalog!</p>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Korisničko ime</label>
                                        <input type="text" id="form2Example11" class="form-control"
                                               placeholder="Unesite korisničko ime" name="username"/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Lozinka</label>
                                        <input type="password" id="form2Example22" class="form-control"
                                               name="password" placeholder="Unesite lozinku"/>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1" >
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                type="submit" >
                                            Logujte se
                                        </button>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Još uvijek nemate nalog?</p>
                                        <div>
                                            <a th:href="@{/register}" class="btn btn-link">Registrujte se </a>
                                        </div>
                                    </div>

                                    <div th:if="${param.error}" class="alert alert-danger">
                                       Niste ispravno unijeli korisničko ime ili lozinku
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-danger">
                                       Izlogujte ste
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4"></h4>
                                <p class="small mb-0">TM photo okuplja tim profesionalaca sa dugogodišnjim iskustvom i referencama u foto-video produkciji. Kroz video i fotografiju  ćemo omogućiti vrhunsku prezentaciju Vaših proizvoda, priča i događaja. Živimo u digitalnom svijetu i preko printanih i digitalnih medija saznajete za mnoge pojave bez da ih morate dotaknuti.
                                    Samo  zadovoljan klijent je ono što smatramo ostvarenjem naše misije i vizije. Sa zadovoljstvom proizvodimo video i fotografiju, a ono je potpuno ako i klijent prepozna našu posvećenost svakom zadatku.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>


//-->


<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<section class="h-100 gradient-form" style="background-color: sandybrown;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">

                                    <h4 class="mt-1 mb-5 pb-1">Dobrodošli na  TM photo!</h4>
                                </div>

                                <form th:action="@{/login}" method="post">
                                    <p>Ovdje se logujte na svoj nalog!</p>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Korisničko ime</label>
                                        <input type="text" id="form2Example11" class="form-control"
                                               placeholder="Unesite korisničko ime" name="username"/>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Lozinka</label>
                                        <input type="password" id="form2Example22" class="form-control"
                                               name="password" placeholder="Unesite lozinku"/>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                type="submit">
                                            Login
                                        </button>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Još uvijek nemate nalog?</p>
                                        <div>
                                            <a th:href="@{/register}" class="btn btn-link">Registracija</a>
                                        </div>
                                    </div>

                                    <div th:if="${param.error}" class="alert alert-danger">
                                        Netačno ime ili lozinka
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-danger">
                                        You have been logged out.
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Zabilježite Vaše najljepše trenutke uz nas!</h4>
                                <p class="small mb-0">TM photo okuplja tim profesionalaca sa dugogodišnjim iskustvom i referencama u foto-video produkciji. Kroz video i fotografiju  ćemo omogućiti vrhunsku prezentaciju Vaših proizvoda, priča i događaja. Živimo u digitalnom svijetu i preko printanih i digitalnih medija saznajete za mnoge pojave bez da ih morate dotaknuti.
                                    Samo  zadovoljan klijent je ono što smatramo ostvarenjem naše misije i vizije. Sa zadovoljstvom proizvodimo video i fotografiju, a ono je potpuno ako i klijent prepozna našu posvećenost svakom zadatku.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
